include ./mixins.pug

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Wishlist v2
    link(rel='stylesheet', type='text/css', href='/static/style.css')
  body
    div.page-wrapper
      include navigation.pug
      block main
    script(src='https://unpkg.com/ionicons@4.4.6/dist/ionicons.js')
