extends layout.pug

block main
  +item-header('Wishlist', items.length)
  main
    form(action='/', method='post')#item-submit
      div.item-info
        input(type='text', placeholder='Item Description', name='description')#item-description
        span £&nbsp;
          input(type='number', placeholder='0.00', step='0.01', min='0', name='price')#item-price
      button(type='submit')
        ion-icon(name='add')
    div.list-wrapper
      each item in items
        +list-item(item.id, item.description, item.price)
