mixin message(message, type)
  div(class='message ' + type)
    p= message

mixin header(title)
  header
    h1= title

mixin item-header(title, items)
  header
    div.title
      h1= title
      h2= items + (items == 1 ? ' Item' : ' Items')
    a(href="/logout").logout Logout

mixin list-item(id, description, price)
  div.list-item
    div.item-info
      h3= description
      span £ #{parseFloat(price).toFixed(2)}
    form
      button(type='submit', formaction='/buy/' + id, formmethod='post')
        ion-icon(name='basket')
      button(class='delete' type='submit', formaction='/delete/' + id, formmethod='post')
        ion-icon(name='close')
        
mixin bought-item(id, description, price)
  div.bought-item
    div.item-info
      h3= description
      span £ #{parseFloat(price).toFixed(2)}
    form
      button(disabled=true)
        ion-icon(name='checkmark')
      button(class='delete' type='submit', formaction='/delete/' + id, formmethod='post')
        ion-icon(name='close')
