include ./mixins.pug

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Wishlist v2
    link(rel='stylesheet', type='text/css', href='/static/style.css')
  body
    div.page-wrapper
      if message
        +message(message, type)
      +header('Register')
      main
        form(action='/register', method='post')#login
          input(type='text', placeholder='Username', name='username')#user-username
          input(type='password', placeholder='Password', name='password')#user-password
          button(type='submit') Register
        a(href="/login").alt-action Login
