* {
  box-sizing: border-box;
}

body, html {
  color: #23213d;
  font-family: arial, sans-serif;
  font-size: 20px;
}

.page-wrapper {
  margin: 0 auto;
  width: 70%;
  max-width: 640px;
  padding: 0 1.250em 0;
  text-align: center;
}

nav {
  border-bottom: 1px solid #b9b5c3;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #76747d;
  display: block;
  font-size: 1em;
  padding: 1.75em 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 45%;
}

nav a:hover,
nav a.active {
  color: #23213d;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.563em 0 2.5em;
  text-align: left;
}

header h1 {
  font-size: 2.250em;
  font-weight: bold;
  margin: 0 0 0.625em;
  padding: 0;
}

header h2 {
  color: #76747d;
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

header a.logout {
  color: #bd515a;
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
}

div.message {
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  margin: 1rem 0 0;
  padding: 0.25rem;
  text-align: center;
}

div.error {
  background: #bd515a;
}

div.info {
  background: #94e092;
}

#login {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin: 5rem 0 3.75rem;
  padding: 0;
}

#login input {
  margin: 0 0 2.5rem;
}

#login button {
  border: 0;
  border-radius: 5px;
  color: #fff;
  background: #4884d4;
  font-size: 1rem;
  padding: 0.75rem;
  text-transform: uppercase;
}

a.alt-action {
  color: #4884d4;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#item-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  margin: 0 0 3.75rem;
  padding: 0;
  text-align: left;
}

.item-info {
  display: flex;
  flex-direction: column;
  flex: 4;
}

#item-description {
  width: 80%;
}

#item-description,
#item-price,
#user-username,
#user-password {
  border: 0;
  border-bottom: 1px solid #b9b5c3;
  color: #23213d;
  font-size: 1em;
  font-weight: normal;
  padding: 0.313rem;
  margin: 0 0 0.875rem;
}

#item-description:focus,
#item-price:focus,
#user-username:focus,
#user-password:focus {
  border: 0;
  border-bottom: 1px solid #23213d;
  outline: 0;
}

#item-description::placeholder,
#item-price::placeholder,
#user-username::placeholder,
#user-password::placeholder {
  color: #76747d;
}

#item-submit button,
.list-item button,
.bought-item button {
  border: 0;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  width: 3.125rem;
}

#item-submit button:focus,
.list-item button:focus,
.bought-item button:focus,
#login button:focus {
  transition: opacity 0.2s;
  outline: 0;
  opacity: 0.5;
}

#item-submit button {
  background: #94e092;
  font-size: 2.250rem;
}

.list-item,
.bought-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2.188em;
  padding: 0;
  text-align: left;
}

.list-item h3,
.bought-item h3 {
  font-size: 1.125em;
  font-weight: bold;
  margin: 0 0 0.625em;
}

.list-item span,
.bought-item span {
  color: #76747d;
  font-size: 1em;
}

.list-item form,
.bought-item form {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.list-item button {
  background: #4884d4;
  font-size: 1.5rem;
}

.bought-item button {
  background: #94e092;
  font-size: 1.5rem;
}

button.delete {
  background: #bd515a;
  margin-left: 0.625em;
}

@media (max-width: 768px) {
  body, html {
    font-size: 18px;
  }

  .page-wrapper {
    max-width: 480px;
  }

  #item-price {
    width: 50%;
  }
}

@media (max-width: 520px) {
  body, html {
    font-size: 16px;
  }

  .page-wrapper {
    min-width: 320px;
  }

  #item-price {
    width: 35%;
  }
}
